.hidePoint {
    list-style: none;
}

.navbar {
    background-color: #546A7B !important;
    opacity: 80%;
}

nav,
.footer {
    color: #fff;
    background-color: #0D1F2D !important;
    display: flex;
    justify-content: center;
}

body {
    background-color: #000000;
}

main {
    margin: 6% 3% 8% 3%;
}

.mainSection {
    background-color: #000000;
}

.logo {
    height: auto;
    max-width: 200px;
    margin: 10px;
}

.chessImg {
    width: 100%;
}

.section {
    background-color: #fff6f5;
}

.imgSection {
    width: 100px;
}

.containerSection {
    margin: 2% 5% 0% 12%;
}

/* ===============================
/* Animación */

.animado {
    opacity: 0;
    transition: all 0.5s;
}

.transicionDer {
    animation: desplazamientoDer 1s;

}

@keyframes desplazamientoDer {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0px);
    }
}

.transicionIzq {
    animation: desplazamientoIzq 1s;

}

@keyframes desplazamientoIzq {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-200px);
    }
}