.hidePoint {
    list-style: none;
}

.navbar {
    background-color: #546A7B !important;
}

nav,
.footer {
    color: #fff;
    background-color: #0D1F2D !important;
    display: flex;
    justify-content: center;
}

body {
    background-color: #e5e5f7;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #0D1F2D 0, #0D1F2D 6px, #9EA3B0 0, #9EA3B0 50%);
}

.logo {
    height: auto;
    max-width: 200px;
}

/* Animación */


.animado {
    opacity: 0;
    transition: all 0.5s;
}

.transicionDer {
    animation: desplazamientoDer 1s;

}

@keyframes desplazamientoDer {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0px);
    }
}

.transicionIzq {
    animation: desplazamientoIzq 1s;

}

@keyframes desplazamientoIzq {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-200px);
    }
}